# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Java
*.class
*.jar

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db
ehthumbs.db

# IDE-specific files
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite
